<p id="notice"><%= notice %></p>

<p>
  <b>Player one:</b>
  <%= @game.player_one %>
</p>

<p>
  <b>Player two:</b>
  <%= @game.player_two %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
