<h1>Listing player_moves</h1>

<table>
  <tr>
    <th>Row</th>
    <th>Column</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @player_moves.each do |player_move| %>
  <tr>
    <td><%= player_move.row %></td>
    <td><%= player_move.column %></td>
    <td><%= link_to 'Show', player_move %></td>
    <td><%= link_to 'Edit', edit_player_move_path(player_move) %></td>
    <td><%= link_to 'Destroy', player_move, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player move', new_player_move_path %>
